{% extends "shared/_layout.html" %}
{% block main_content %}

  <div class="hero">
    <div class="hero-inner">
      <h1>Find, install and publish Python packages with the Python Package Index</h1>
      <input type="text" placeholder=" Search projects" class="form-control">
    </div>

    or <a href="#">browse projects</a>
  </div>
  <div class="pypi-stats">
    <div class="stats">-1 projects</div>
    <div class="stats">-1 releases</div>
    <div class="stats">-1 users</div>
  </div>

{% endblock %}
